/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Whitney', sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

.menu-list li {
    display: inline-block;
    margin: 0 1em;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.float-l {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.pad-t-b {
    padding: 8em 0;
}

header {
    width: 100%;
    height: 80px;
    background-color: #3161e0;
}

.general-container {
    width: 80%;
    margin: 0 auto;
}

.col {
    line-height: 80px;
    width: 15%;
    color: white;
}

.center {
    width: 70%;
    text-align: center;
}

.right {
    text-align: right;
}

.logo {
    text-decoration: none;
    vertical-align: middle;
}

.btn-small {
    padding: .6em 1em;
    border-radius: 20px;
}

.btn-white {
    color: black;
    background-color: white;
}

.btn-black {
    color: white;
    background-color: black;
}

.btn-large {
    margin: 0 1em;
    padding: 1.3em 2em;
    border-radius: 40px;
    font-size: 1.2em;
}

.btn-large i {
    margin-right: 0.5em;
}

.banner {
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    padding: 15em 0;
}

.banner-content {
    color: white;
    width: 50%;
    margin: 0 auto;
}

.text {
    text-align: center;
    line-height: 2.5em;
}

.text h2 {
    font-size: 4em;
    margin-bottom: 1em;
}

.text p {
    font-size: 1.5em;
    margin-bottom: 2em;
}

.buttons-container {
    text-align: center;
}

.container {
    padding: 8em 0;
    width: 50%;
}

.sub-container {
    width: 60%;
    margin: 0 auto;
}

.sub-container h2 {
    margin: .5em 0;
    font-size: 4em;
}

.sub-container p {
    font-size: 1.5em;
}

main .bg-color-container:nth-child(even) {
    background-color: #f6f6f6;
}

.img-large {
    margin-bottom: 2em;
}

.h3-container {
    display: inline-block;
    background-image: url(../img/stars.svg);
    background-size: contain;
    padding: 1.5em;
    font-size: 2em;
    margin-bottom: 1em;
}

.btn-blue {
    display: inline-block;
    position: relative;
    color: white;
    background-color: #003aff;
    overflow: hidden;
    line-height: normal;
}

.btn-blue::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
}

.footer {
    padding: 6em 0;
    background-color: #23272a;
}

.f-col-left {
    width: 20%;
}

.f-list-container {
    width: 80%;
}

.f-col-left h4 {
    font-size: 2em;
    color: #7188d9;
    margin-bottom: 1em;
}

.language {
    color: white;
    margin-bottom: 1em;
}

.language img {
    width: 1.5em;
    vertical-align: top;
}

.icons-container {
    color: white;
}

.icons-container i {
    margin-right: 1em;
}

.f-list-container ul {
    display: inline-block;
    margin: 0 2em 1em 5em;
    vertical-align: top;
}

.f-list-container li {
    margin: 1em 0;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.f-list-container li:first-child {
    margin: 0;
    color: #7188d9;
}

hr {
    border: 1px solid #3e4969;
}

.footer-nav {
    height: 80px;
    padding: 1em 0;
    line-height: calc(80px - 2em);
}

.float-r {
    float: right;
}

.float-r a {
    vertical-align: middle;
}

